body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  position: relative;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.popup {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
.add-event {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Set a max width for better control */
  padding: 20px;
}

.row.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(23, 116, 222);
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.row label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.row input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row input[type="time"] {
  max-width: 200px;
  flex: none;
}

.row.action {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease border-color 0.3s ease;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.btn.primary {
  background-color: #4caf50;
  color: white;
}

.btn.secondary {
  background-color: #797575;
  color: white;
}

.btn.primary:hover {
  background-color: #45a049;
  border-color: darkgreen;
}

.btn.secondary:hover {
  background-color: #524e4e;
  border-color: rgb(14, 14, 14);
}

.btn.danger {
  background-color: #c42407;
  color: white;
}

.btn.danger:hover {
  background-color: #9d0909;
  border-color: rgb(35, 2, 2);
}

.event {
  width: 100%;
  margin: 20px 0;
}

.event caption {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(23, 116, 222);
}

.event th {
  padding: 12px 5px;
}
.event td {
  padding: 12px 15px;
}

.event th {
  width: 150px;
  text-align: right;
}

.event td {
  background-color: #ffffff;
}

.event tr:hover td {
  background-color: #f9f9f9;
}
.btn.secondary.center {
  text-align: center;
}
